<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
https://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 https://www.springframework.org/schema/context/spring-context.xsd
 http://www.springframework.org/schema/aop
 https://www.springframework.org/schema/aop/spring-aop.xsd
 http://www.springframework.org/schema/tx
 https://www.springframework.org/schema/tx/spring-tx.xsd
 http://www.springframework.org/schema/mvc
 https://www.springframework.org/schema/mvc/spring-mvc.xsd">
 	<context:component-scan base-package="com.sjdl.cslcp.controller"></context:component-scan>
 	
 	<!-- <bean name="/login" class="com.sjdl.cslcp.controller.LoginController"></bean> -->
 	
 	 <!-- <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
 		<property name="prefix" value="WEB-INF/pages/"></property>
 		<property name="suffix" value=".jsp"></property>
 	</bean>  -->
 	
 	 <mvc:annotation-driven></mvc:annotation-driven>
 	<!-- 静态资源访问 -->
 	<mvc:resources location="/js/" mapping="/js/**"></mvc:resources>
	<mvc:resources location="/css/" mapping="/css/**"></mvc:resources>
	<mvc:resources location="/assets/" mapping="/assets/**"></mvc:resources>
	<mvc:resources location="/images/" mapping="/images/**"></mvc:resources> 
 	<mvc:resources location="/load/" mapping="/load/**"></mvc:resources> 
</beans>

