<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sjdl.cslcp.mapper.AddressMapper">
	<!-- 查询省份 -->
	<select id="findProvince" resultType="Map">
		SELECT id,pid,name
		FROM address
		WHERE pid =1
	</select>
	
	<!-- 查询城市 -->
	<select id="findCity" parameterType="Integer" resultType="Map">
		SELECT id,pid,name
		FROM address
		WHERE pid = #{pid}
	</select>
	
	<!-- 编辑前根据id查询所有数据 -->
	<select id="findById" resultType="Map" parameterType="int">
		SELECT id,pid,name
		FROM address
		WHERE id=#{id}
	</select>
	
	<!-- 编辑 -->
	<update id="updateAddress" parameterType="Map">
		UPDATE address
		SET 
			pid=#{pid},
			name=#{name}
		WHERE id=#{id}		
	</update>
	
	<!-- 删除 -->
	<delete id="delAddress" parameterType="int">
		DELETE FROM address WHERE id = #{id}	
	</delete>
	
	<!-- 添加 -->
	<insert id="addAddress" parameterType="Map">
		INSERT INTO address(pid,name)
		VALUES (#{pid},#{name})
	</insert>
</mapper>