<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sjdl.cslcp.mapper.SealMapper">

	 <!-- 添加 -->
    <insert id="save"  >
        insert into seal(name,uploadDay) values (#{name},#{uploadDay})    
    </insert> 
    
    <!-- 分页查询 -->
	<select id="findAllSeal"
		resultType="Map">
		SELECT id,copanyId,name,file,uploadDay,isEnable,confirmStatus,createUserAccount
		FROM seal
		<where>
			<if test="id != ''">
				AND id = #{id}
			</if>
		</where>
	</select>
	
		
</mapper>